<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şirket Bilgi Girişi</title>
    <link rel="stylesheet" href="grafik.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Şirket Bilgi Girişi</h1>
        <form id="dataForm">
            <label for="companyCount">Şirket Sayısı:</label>
            <input type="number" id="companyCount" name="companyCount" required>
            
            <label for="managerCount">Kayıtlı Şirket Yöneticisi Sayısı:</label>
            <input type="number" id="managerCount" name="managerCount" required>
            
            <label for="employeeCount">Kayıtlı Personel Sayısı:</label>
            <input type="number" id="employeeCount" name="employeeCount" required>
            
            <button type="button" onclick="generateChart()">Oluştur</button>
        </form>

        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <script src="grafik.js"></script>
</body>
</html>
