<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şirketler Sayfası</title>
    <link rel="stylesheet" href="SirketlerSayfası.css">
</head>
<body>
    <h1>Şirketler</h1>
    
    <section id="applications">
        <h2>Şirketler Listesi</h2>
        <table>
            <thead>
                <tr>
                    <th>Şirketin adı</th>
                    <th>Email</th>
                    <th>statusu</th>
                    <th>Durumu</th>
                </tr>
<tr>
    
</tr>
            </thead>
            
            <tbody id="application-list">
              
            </tbody>
        </table>
    </section>
    
    <section id="manage-application">
        <h2>Şirket Ekle</h2>
        <form id="application-form">
            <label for="companyName">Şirket Adı:</label>
            <input type="text" id="companyName" name="companyName" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="status">status:</label>
            <select id="status" name="status">
                <option value="pending">Pending</option>
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </section>
    
    <section id="membership-plan">
        <h2>Üyelik Planı</h2>
        <form id="membership-form">
            <label for="planType">Plan Tipi:</label>
            <select id="planType" name="planType">
                <option value="monthly">Aylık</option>
                <option value="yearly">Yıllık</option>
            </select>
            <label for="membershipCompanyName">Şirket Adı:</label>
            <input type="text" id="membershipCompanyName" name="membershipCompanyName" required>
            <button type="submit">Planı Oluştur</button>
        </form>
    </section>
    
    <section id="company-details">
        <h2>Şirket Bilileri </h2>
        <form id="details-form">
            <label for="details">Eklenmek istenen:</label>
            <textarea id="details" name="details"></textarea>
            <button type="submit">Bilgiyi güncelle</button>
        </form>
    </section>
    
    <section id="plans-section">
        <h2>Planları Göster</h2>
        <button id="show-plans-button">Planları Göster</button>
        <div id="plans-table-container"></div>
    </section>
    
    <script src="SirketlerSayfası.js"></script>
</body>
</html>
